<h1>Make events and rsvp to events.</h1>
<h2>Make an account</h2>
<p>To make an account, simply visit the events page when not logged in, and click sign up. Enter a name, and your account will be created and you will be logged in automatically.</p>
<p>Remember the name, because you will use it to sign back in later.</p>

<h2>Making Events</h2>
<p>To make an event, go to the events page and click "Place an event!" This will take you to an event creation form. All fields are required and the form will not submit until they have all been filled out.</p>

<h2>RSVP'ing</h2>
<p>To attend an event, simply go to the events page and click on an event. This will expand the event, showing the description and some buttons. Click on "Attent this event". You will be added to the attending list. Similarly, you can view who is attending the event by clicking "Attendance list"</p>

<h2>Your events</h2>
<p>To view your events click on the account dropdown button and then select profile. This will bring you to your profile page where you can see all of the events you have created, as well as events you have or will be attending.</p>