<div class="row titles-bar">
  <div class="center col-xs-3">
    <p>Name</p>
  </div>
  <div class="center col-xs-3">
    <p>When</p>
  </div>
  <div class="center col-xs-3">
    <p>Where</p>
  </div>
  <div class="center col-xs-3">
    <p>Creator</p>
  </div>
</div>