<footer class="footer">
  <small>
    The <a href="http://www.theodinproject.com/">Odin Project</a>
    | <a href="http://www.theodinproject.com/ruby-on-rails/associations">Active Record Associations</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>